@model IEnumerable<QnA.Models.Answers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="text-center">Welcome to the QnA Answers</h1>
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
        <div data-scrollreveal="enter right">
            <ul class="timeline">
                @foreach(var item in Model)
                {
                    @if(ViewBag["isthere"] != null)
                    {
                        <li class="time-label">
                            <span class="bg-light-blue">
                                <a asp-action="Create" asp-controller="Answer">
                                    Add Answer
                                </a>
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-envelope bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time" style="font-style:italic"><i class="fa fa-clock-o"></i>@*@Html.DisplayFor(modelItem => item.Time)*@</span>
                                <h3 class="timeline-header" style="font-weight:800"></h3>
                                <div class="timeline-body">
                                    @Html.DisplayFor(modelItem => item.Body)
                                    <h5 style="font-size:smaller">posted by: </h5>
                                </div>
                                <div class='timeline-footer'>
                                    <a class="btn btn-primary btn-xs" asp-controller="Answers" asp-route-id="@item.QuestionsId">Up Vote</a>
                                    <a class="btn btn-primary btn-xs" asp-controller="Answers" asp-route-id="@item.QuestionsId">Down Vote</a>
                                    @*<a class="btn btn-danger btn-xs">Read More</a>*@
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <i class="fa fa-envelope bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time" style="font-style:italic"><i class="fa fa-clock-o"></i>@*@Html.DisplayFor(modelItem => item.Time)*@</span>
                                <h3 class="timeline-header" style="font-weight:800"></h3>
                                <div class="timeline-body">
                                    @Html.DisplayFor(modelItem => item.Body)
                                    <h5 style="font-size:smaller">posted by: </h5>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>













@*<section>
    <ul class="divided">
        <li class="col-md-offset-3 col-md-6 col-lg-offset-3">
            <h2 class="major" style="font-weight:800"><span>Welcom to the QnA Answers</span></h2>
            @if (ViewData["isthere"] != null)
            {
                <div class="jumbotron">
                <article class="box post-summary">
                    <h5 class="text-center">
                        You can post Answers to this question
                    </h5>
                    <a class="btn btn-sm btn-primary pull-right" asp-controller="Answers" asp-action="Create">Add Answer</a>
                </article>
                </div>
                 @foreach (var item in Model)
            {
                <div class="jumbotron">
                    <article class="box post-summary">
                        <h5>
                            @Html.DisplayFor(modelItem => item.Body)
                        </h5>
                        <a class="btn btn-sm btn-primary pull-right" asp-controller="Answers" asp-route-id="@item.QuestionsId">Down Vote</a>
                        <a class="btn btn-sm btn-primary pull-right" asp-controller="Answers" asp-route-id="@item.QuestionsId">Up Vote</a>
                    </article>
                </div>
            }

            }
            else
            {
                 @foreach (var item in Model)
            {
                <div class="jumbotron">
                    <article class="box post-summary">
                        <h2>
                            @Html.DisplayFor(modelItem => item.Body)
                        </h2>
                        <p style="font-size:small">You have to register to grade answers</p>
                        <a asp-action="Register" asp-controller="User">Register</a>
                    </article>
                </div>
            }

            }
             
           
        </li>
    </ul>
</section>*@



<script src="~/Landing/assets/js/jquery.min.js"></script>
<script src="~/Modal/Modal.js"></script>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>
            </div>
        </div>
    </div>
</div>