@model IEnumerable<QnA.Models.Questions>


@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ">
    <h1 class="text-center">Welcome to the QnA</h1>
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
        <div data-scrollreveal="enter right">

            <ul class="timeline">
                @*<li class="time-label">
                        <span class="bg-orange">
                            Welcome to the QnA
                        </span>
                        <br />
                        <br />
                    </li>*@

                @foreach (var item in Model)
                {
                    @*<li class="time-label">
                        <span class="bg-light-blue">
                            Year 2014
                        </span>
                        </li>*@

                    <li>
                        <i class="fa fa-envelope bg-blue"></i>
                        <div class="timeline-item">
                            <span class="time" style="font-style:italic"><i class="fa fa-clock-o"></i>@Html.DisplayFor(modelItem => item.Time)</span>
                            <h3 class="timeline-header" style="font-weight:800">@Html.DisplayFor(modelItem => item.Header)</h3>
                            <div class="timeline-body">
                                @Html.DisplayFor(modelItem => item.Body)
                                <h5 style="font-size:smaller">posted by: @Html.DisplayFor(modelItem => item.user.Email)</h5>
                            </div>
                            <div class='timeline-footer'>
                                <a class="btn btn-primary btn-xs" asp-controller="Answers" asp-route-id="@item.QuestionsId">Answers</a>
                                @*<a class="btn btn-danger btn-xs">Read More</a>*@
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
